* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: montserrat, sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
  background-image: url("background.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;
}
header:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: rgba(34, 34, 34, 0.5);
}
header .content {
  position: relative;
  z-index: 1;
}
header .content h1 {
  color: #FFF;
  font-size: 28px;
  font-weight: 900;
}
header .content h1 span {
  font-weight: 400;
}
@media screen and (min-width: 480px) {
  header .content h1 {
    font-size: 46px;
  }
}
@media screen and (min-width: 768px) {
  header .content h1 {
    font-size: 52px;
  }
}
@media screen and (min-width: 1024px) {
  header .content h1 {
    font-size: 56px;
  }
}
@media screen and (min-width: 1280px) {
  header .content h1 {
    font-size: 72px;
  }
}
header .content h2 {
  color: #FFF;
  font-size: 42px;
  font-weight: 500;
  margin-top: 30px;
  margin-bottom: 20px;
}
@media screen and (min-width: 480px) {
  header .content h2 {
    font-size: 36px;
  }
}
@media screen and (min-width: 768px) {
  header .content h2 {
    font-size: 52px;
  }
}
@media screen and (min-width: 1024px) {
  header .content h2 {
    font-size: 66px;
  }
}
@media screen and (min-width: 1280px) {
  header .content h2 {
    font-size: 80px;
  }
}
header .content .countdown {
  color: #FFF;
  font-size: 36px;
  font-weight: 400;
}
@media screen and (min-width: 400px) {
  header .content .countdown {
    font-size: 42px;
  }
  #weds{
    margin-bottom: -22%;
  }
}
@media screen and (min-width: 768px) {
  header .content .countdown {
    font-size: 56px;
  }
  #weds{
    margin-bottom: -15%;margin-top:-22%
  }
}
@media screen and (min-width: 1024px) {
  header .content .countdown {
    font-size: 72px;
  }
}
@media screen and (min-width: 1280px) {
  header .content .countdown {
    font-size: 88px;
  }
}

.myButton {
	box-shadow:inset 0px 3px 0px -24px #e67a73;
	background-color:#de7b74;
	border-radius:25px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Poppins;
	font-size:20px;
	padding:11px 15px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
  width:200px;
  height:50px;
}
.myButton:hover {
	background-color:#d1605a;
}
.myButton:active {
	position:relative;
	top:1px;
}

        
